<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Plugin imagebrowser ckeditor for nodejs</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
</head>

<body>
	<div class="container">
		<h2>Như CC</h2>
		<textarea id="ckeditor"></textarea>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		var roxyFileman = '/file-manager.html?integration=ckeditor';
	  	CKEDITOR.replace('ckeditor', {
	  		filebrowserBrowseUrl:roxyFileman, 
           	filebrowserImageBrowseUrl:roxyFileman+'&type=image',
           	removeDialogTabs: 'link:upload;image:upload'
        });
	</script>
</body>
</html>