<div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
    <div class="row">
        <div class="right_bar">
            <div class="single_leftbar wow fadeInDown">
                <h2><span>Popular Post</span></h2>
                <div class="singleleft_inner">
                    <ul class="catg3_snav ppost_nav wow fadeInDown">
                        <li>
                            <div class="media"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="/images/img/70x70.jpg"> </a>
                                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="/images/img/70x70.jpg"> </a>
                                <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="/images/img/70x70.jpg"> </a>
                                <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media"> <a href="#" class="media-left"> <img alt="" src="/images/img/70x70.jpg"> </a>
                                <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media"> <a href="#" class="media-left"> <img alt="" src="/images/img/70x70.jpg"> </a>
                                <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media"> <a href="#" class="media-left"> <img alt="" src="/images/img/70x70.jpg"> </a>
                                <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media"> <a href="#" class="media-left"> <img alt="" src="/images/img/70x70.jpg"> </a>
                                <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media"> <a href="#" class="media-left"> <img alt="" src="/images/img/70x70.jpg"> </a>
                                <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media"> <a href="#" class="media-left"> <img alt="" src="/images/img/70x70.jpg"> </a>
                                <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="media"> <a href="#" class="media-left"> <img alt="" src="/images/img/70x70.jpg"> </a>
                                <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="single_leftbar wow fadeInDown">
                <h2><span>Side Ad</span></h2>
                <div class="singleleft_inner"> <a href="#"><img alt="" src="/images/img/262x218.jpg"></a></div>
            </div>
            <div class="single_leftbar wow fadeInDown">
                <ul class="nav nav-tabs custom-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Most Popular</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Most Reader</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Recent Comment</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <ul class="catg3_snav ppost_nav wow fadeInDown">
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">
                        <ul class="catg3_snav ppost_nav wow fadeInDown">
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="messages">
                        <ul class="catg3_snav ppost_nav wow fadeInDown">
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="single_leftbar wow fadeInDown">
                <h2><span>Blog Archive</span></h2>
                <div class="singleleft_inner">
                    <div class="blog_archive">
                        <form action="#">
                            <select>
                                <option value="">Blog Archive</option>
                                <option value="">October(20)</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="single_leftbar wow fadeInDown">
                <h2><span>Labels</span></h2>
                <div class="singleleft_inner">
                    <ul class="label_nav">
                        <li><a href="#">Arts</a></li>
                        <li><a href="#">Cinema</a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Tourism</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Nature</a></li>
                    </ul>
                </div>
            </div>
            <div class="single_leftbar wow fadeInDown">
                <h2><span>Links</span></h2>
                <div class="singleleft_inner">
                    <ul class="link_nav">
                        <li><a href="#">Blog Home</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Error Page</a></li>
                        <li><a href="#">Wpfreeware</a></li>
                        <li><a href="#">Facebook Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>