<footer id="footer">
    <div class="footer_top">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="single_footer_top wow fadeInLeft">
                <h2>Follow By Email</h2>
                <div class="subscribe_area">
                    <p>"Subscribe here to get our newsletter, it is safe just Put your Email and click subscribe"</p>
                    <form action="#">
                        <div class="subscribe_mail">
                            <input class="form-control" type="email" placeholder="Email Address">
                            <i class="fa fa-envelope"></i></div>
                        <input class="submit_btn" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="single_footer_top wow fadeInLeft">
                <h2>Popular Post</h2>
                <ul class="catg3_snav ppost_nav">
                    <li>
                        <div class="media"> <a class="media-left" href="pages/single_page.html"> <img src="/images/img/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="pages/single_page.html"> Aliquam malesuada diam eget turpis varius</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="media"> <a class="media-left" href="pages/single_page.html"> <img src="/images/img/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="media"> <a class="media-left" href="#"> <img src="/images/img/70x70.jpg" alt=""> </a>
                            <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="single_footer_top wow fadeInRight">
                <h2>Labels</h2>
                <ul class="footer_labels">
                    <li><a href="#">Comedy</a></li>
                    <li><a href="#">Arts</a></li>
                    <li><a href="#">Cinema</a></li>
                    <li><a href="#">Nature</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Tourism</a></li>
                    <li><a href="#">Videos</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="single_footer_top wow fadeInRight">
                <h2>Contact Form</h2>
                <form action="#" class="contact_form">
                    <label>Name</label>
                    <input class="form-control" type="text">
                    <label>Email*</label>
                    <input class="form-control" type="email">
                    <label>Message*</label>
                    <textarea class="form-control" cols="30" rows="10"></textarea>
                    <input class="send_btn" type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="footer_bottom_left">
            <p>Copyright &copy; 2045</p>
        </div>
        <div class="footer_bottom_right">
            <ul>
                <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Googel+" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Rss" href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
    </div>
</footer>