<header id="header">
    <div class="header_top">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav custom_nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Shortcodes</a></li>
                        <li><a href="pages/category-archive.html">Archive</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="pages/404.html">404 Page</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="header_search">
            <button id="searchIcon"><i class="fa fa-search"></i></button>
            <div id="shide">
                <div id="search-hide">
                    <form action="#">
                        <input type="text" size="40" placeholder="Search here ...">
                    </form>
                    <button class="remove"><span><i class="fa fa-times"></i></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="logo_area"><a class="logo" href="#"><b>S</b>ybarMagazine <span>A Pro Magazine Theme</span></a></div>
        <div class="top_addarea"><a href="#"><img src="/images/img/addbanner.jpg" alt=""></a></div>
    </div>
</header>
<div class="latest_newsarea"> <span>Latest News</span>
    <ul id="ticker01" class="news_sticker">
        <li><a href="#">My First News Item</a></li>
        <li><a href="#">My Second News Item</a></li>
        <li><a href="#">My Third News Item</a></li>
        <li><a href="#">My Four News Item</a></li>
        <li><a href="#">My Five News Item</a></li>
        <li><a href="#">My Six News Item</a></li>
        <li><a href="#">My Seven News Item</a></li>
        <li><a href="#">My Eight News Item</a></li>
        <li><a href="#">My Nine News Item</a></li>
    </ul>
</div>