<div class="thumbnail_slider_area">
    <div class="owl-carousel">
        <div class="signle_iteam"> <img src="/images/img/395x396.jpg" alt="">
            <div class="sing_commentbox slider_comntbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2045</p>
                <a href="#"><i class="fa fa-comments"></i>20 Comments</a></div>
            <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
        <div class="signle_iteam"> <img src="/images/img/395x396.jpg" alt="">
            <div class="sing_commentbox slider_comntbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2045</p>
                <a href="#"><i class="fa fa-comments"></i>20 Comments</a></div>
            <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
        <div class="signle_iteam"> <img src="/images/img/395x396.jpg" alt="">
            <div class="sing_commentbox slider_comntbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2045</p>
                <a href="#"><i class="fa fa-comments"></i>20 Comments</a></div>
            <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
        <div class="signle_iteam"> <img src="/images/img/395x396.jpg" alt="">
            <div class="sing_commentbox slider_comntbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2045</p>
                <a href="#"><i class="fa fa-comments"></i>20 Comments</a></div>
            <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
        <div class="signle_iteam"> <img src="/images/img/395x396.jpg" alt="">
            <div class="sing_commentbox slider_comntbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2045</p>
                <a href="#"><i class="fa fa-comments"></i>20 Comments</a></div>
            <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
        <div class="signle_iteam"> <img src="/images/img/395x396.jpg" alt="">
            <div class="sing_commentbox slider_comntbox">
                <p><i class="fa fa-calendar"></i>19 Nov 2045</p>
                <a href="#"><i class="fa fa-comments"></i>20 Comments</a></div>
            <a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></div>
    </div>
</div>