<%include ../layout/header%>
    <script src="/ckeditor/ckeditor.js"></script>
    </head>

    <body>
        <div id="wrapper">
        <%include ../layout/menu%>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">Tin Tức</h1>
                    </div>
                </div>
                <% if (error.length > 0) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
                <% } else if(success.length > 0){ %>
                <div class="alert alert-success">
                    <%= success %>
                </div>
                <% } %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <form data-parsley-validate id="uploadimage" enctype="multipart/form-data" action="/admin/baiviet/thembv" method="post">
                                    <div class="form-group">
                                        <label>Tiêu đề</label>
                                        <input class="form-control" name="tieude" placeholder="Nhập vào tiêu đề">
                                    </div>
                                    <div class="form-group">
                                        <label>Tác giả</label>
                                        <input class="form-control" name="tacgia" placeholder="Tác giả">
                                    </div>
                                    <div class="form-group">
                                        <label>Loại tin</label>
                                        <select name="loaitin" class="form-control" id="controlSelect">
                                            <option value="">---Chọn loại tin---</option>
                                            <% loaitin.forEach(function (lt){ %>
                                                <option value="<%=lt.idloaitin%>">
                                                    <%=lt.tenloaitin%>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Tóm tắt</label>
                                        <textarea name="tomtat" class="form-control" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        <textarea id="ckeditor" name="noidung" class="form-control" rows="10" id="noidung"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Ảnh</label>
                                        <br>
                                        <label>
                                            <input type="file" class="form-control" name="img" id="file" required />
                                        </label>
                                        <div id="status_upload"></div>
                                        <div class="preview">
                                            <div class="imgpreview">
                                                <img id="previewing" src="" />
                                            </div>
                                            <div class="message"></div>
                                        </div>
                                    </div>
                                    <button type="reset" class="btn btn-default">Làm mới</button>
                                    <button type="submit" value="Upload" class="btn btn-primary submit">Thêm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DataTables JavaScript -->
        <script src="/admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
        <script src="/admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
        <script src="/admin/vendor/datatables-responsive/dataTables.responsive.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/admin/dist/js/sb-admin-2.js"></script>
        <!-- ckeditor -->
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script type="text/javascript">
        var roxyFileman = '/file-manager.html?integration=ckeditor';
        CKEDITOR.replace('ckeditor', {
            filebrowserBrowseUrl: roxyFileman,
            filebrowserImageBrowseUrl: roxyFileman + '&type=image',
            removeDialogTabs: 'link:upload;image:upload'
        });
        </script>
        <script>
        var message = document.getElementsByClassName("message")[0];
        var file_upload = document.getElementById('file');
        // hiển thị ảnh nếu validation thành công
        file_upload.addEventListener('change', function(e) {
            var file = this.files[0];
            var imagefile = file.type;
            var match = ["image/jpeg", "image/png", "image/jpg"];
            if (!((imagefile == match[0]) || (imagefile == match[1]) ||
                    (imagefile == match[2]))) {
                message.innerHTML = "File phải có định dạng jpeg, jpg and png";
                document.getElementById('previewing').style.display = "none";
                return false;
            } else {
                message.innerHTML = "ok em.";
                var reader = new FileReader();
                reader.onload = function imageIsLoaded(e) {
                    var previewing = document.getElementById('previewing');
                    previewing.style.display = "block";
                    previewing.setAttribute('src', e.target.result);
                    previewing.setAttribute('width', '320px');
                    previewing.setAttribute('height', '230px');
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
        </script>
    </body>