<%include header%>

    <body>
        <div id="wrapper">
            <%include menu%>
            <div id="page-wrapper">
                <img class="image" src="https://templated.co/items/demos/visualize/images/avatar.jpg" />
                <h1>This is <strong>Visualize</strong>, a responsive site template designed by Bakerlang a Student of SIIT under TechSoul.</h1>
                <div class="tripple">
                    <div class="boximg">
                        <img src="http://25.media.tumblr.com/tumblr_m411ji0JVd1qib5bvo1_500.jpg" />
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="boximg">
                        <img src="https://templated.co/items/demos/visualize/images/thumbs/05.jpg" />
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="tripple">
                    <div class="boximg">
                        <img src="https://templated.co/items/demos/visualize/images/thumbs/06.jpg" />
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="boximg">
                        <img src="https://templated.co/items/demos/visualize/images/thumbs/07.jpg" />
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                <div class="tripple">
                    <div class="boximg">
                        <img src="https://templated.co/items/demos/visualize/images/thumbs/03.jpg" />
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="boximg">
                        <img src="http://netdna.coolthings.com/wp-content/uploads/2014/09/stacked-hong-kong-peter-stewart-1.jpg" />
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="boximg">
                        <img src="https://templated.co/items/demos/visualize/images/thumbs/02.jpg" />
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                <hr />
                <p class="footer" align="center">© Untitled. All rights reserved. Design: SIIT. Demo Images: Google.</p>
            </div>
        </div>
        <%include footer%>
    </body>